<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="fortune.css">
    <title>This is your fortune...</title>
  </head>
  <body>
    <h1> This is your fortune...</h1>
      <p>This app will tell you about your future!</p>
      <h2>You are {{name}} from {{location}}</h2>
    <img src = "https://s-media-cache-ak0.pinimg.com/originals/00/cf/5b/00cf5b1bf86e8f7a0f437309ef193f72.jpg" height="400" width="500" alt = "Crystal Ball">
    <h1>Welcome to your future!</h1>
  </body>
</html>
